<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="termination_orangemoney-api-ear">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="termination_orangemoney-api.war" deploy-path="/" handle="module:/resource/termination_orangemoney-api/termination_orangemoney-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpclient.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpclient/4.5.1/httpclient-4.5.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpcore.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpcore/4.4.3/httpcore-4.4.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.9/commons-codec-1.9.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi/3.9/poi-3.9.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/2.4/commons-io-2.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.4/commons-lang-2.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="joda-time.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/joda-time/joda-time/2.3/joda-time-2.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jasypt.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jasypt/jasypt/1.9.2/jasypt-1.9.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="component.exclusion.patterns" value="*.*"/>
    </wb-module>
</project-modules>
